html, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

.burg {
  display: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  margin: 0;
  height: auto;
  background-color: #EAEEF0;
  background-image: url('topbg.png');
  background-position: top center;
  background-repeat: repeat-x;
}

.btn_cont {
  background: #0099a7;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 21px;
  padding: 5px 0;
  display: block;
  text-align: center;
  margin: 20px auto;
  max-width: 340px;
  width: 90%;
  border-radius: 8px;
  transition: .6s;
}

.btn_cont:hover {
  background: #273D48;
  transition: .6s;
}

.dummy {
  display: inline-block;
}

.topsection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 10;
}

.logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -485px;
}

.logo:hover {
  opacity: 0.7;
}

.mainmenu {
  width: 700px;
  height: 38px;
  text-align: right;
  position: absolute;
  left: 50%;
  top: 50px;
  margin-left: -210px;
}

.mainmenu > div {
  display: inline-block;
}

.dd {
}

.dda {
  border-color: silver !important;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: white !important;
  position: relative;
  background-color: white;
  z-index: 9;
}

.ddm {
  display: none;
  border-color: silver;
  border-width: 1px;
  border-style: solid;
  position: absolute;
  background-color: white;
  top: 36px;
  text-align: left;
  z-index: 7;
  -webkit-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.29);
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.29);
}

.ddm a {
  display: block;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-right: 16px;
  height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2F404C;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
}

.ddm a:hover {
  background-color: #2F404C;
  color: white;
}

.mainmenu .a {
  display: inline-block;
  padding: 15px;
  padding-top: 7px;
  padding-bottom: 6px;
  height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2F404C;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 0;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.tmicn {
  height: 32px;
  width: 32px;
  border-color: #e1e5e6;
  font-size: 12px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 50%;
  color: #93a0a5;
  text-decoration: none;
  text-align: center;
}

.tm_facebook {
  background-image: url('tm_fb.png');
  background-position: 4px 4px;
  margin-left: 345px;
}

.tm_vk {
  background-image: url('tm_vk.png');
  background-position: 4px 4px;
  margin-left: 345px;
}

.tm_gp {
  background-image: url('tm_gp.png');
  background-position: 4px 4px;
  margin-left: 378px;
}

.tm_yt {
  background-image: url('tm_yt.png');
  background-position: 4px 4px;
  margin-left: 411px;
}

.tm_tw {
  background-image: url('tm_tw.png');
  background-position: 4px 4px;
  margin-left: 444px;
}

.tmicn:hover {
  background-color: #0099a7;
  background-position: 4px -30px;
  color: white;
}

.ars {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 97px;
  left: 50%;
  margin-left: -410px;
  background-repeat: no-repeat;
  background-position: top left;
  z-index: 11;
}

.mainframe {
  position: relative;
  z-index: 5;
  width: 910px;
  padding: 20px;
  background-color: white;
  min-height: 760px;
  margin: 0 auto;
  margin-top: 120px;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.3);
}

.topbtn {
  display: block;
  position: absolute;
  left: 50%;
  margin-top: 0;
  margin-left: 327px;
  width: 134px;
  height: 23px;
  text-align: center;
  padding-right: 10px;
  padding-top: 6px;
  background-position: top left;
  background-repeat: no-repeat;
  color: gray;
  font-weight: bold;
  text-decoration: none;
}

.topbtn:hover {
  opacity: 0.8;
}

.ncpy {
  width: 100%;
  height: 70px;
  padding-top: 60px;
  background-position: top left;
  background-repeat: repeat-x;
  color: #f2f2f2;
  font-size: 12px;
  background-color: #233A44;
  margin-top: -40px;
}

.ncpy .ibox {
  width: 940px;
  margin: 0 auto;
  color: white;
}

.ssbm:hover {
  opacity: 0.35;
}

.ssbm {
  width: 25px;
  height: 23px;
  position: absolute;
  left: 50%;
  margin-left: 449px;
  top: 93px;
  background-color: #0099A7;
  border: none;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
}

.p_search {
  width: 249px;
  padding-left: 6px;
  height: 21px;
  position: absolute;
  top: 90px;
  left: 50%;
  margin-left: 215px;
  background-image: url('search_icon.png');
  background-repeat: no-repeat;
  background-position: 238px 6px;
  border-width: 3px;
  border-color: #6a7d84;
  border-style: solid;
  z-index: 6;
  outline: none;
}

.ls {
  width: 650px;
  margin-right: 20px;
  min-height: 300px;
  float: left;
}

.rs {
  width: 240px;
  float: left;
  min-height: 300px;
}

.cal {
  width: 240px;
  margin-top: 30px;
}

.cal .cct {
  background-color: #0099A7;
  color: white;
}

.cal .cct:hover {
  background-color: #273D48;
}

.cal .cct a {
  text-decoration: none;
  color: white;
}

.cal thead tr td {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #273D48;
  color: white;
  font-weight: bold;
}

.cal tbody tr td {
  border-bottom-color: #E6E6E7;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  color: #858383;
  font-family: Arial, sans-serif;
  font-size: 15px;
}

.cal tbody tr:last-child td {
  border-bottom: none;
}

.cal tbody tr td {
  border-right-color: #E6E6E7;
  border-right-width: 2px;
  border-right-style: solid;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cal tbody tr td:last-child {
  border-right: none;
}

.tagscloud {
  margin-top: 30px;
  text-align: justify;
  color: #2D95A4;
  line-height: 18px;
}

.tagscloud a {
  color: #2D95A4;
  text-decoration: none;
}

.tagscloud a:hover {
  color: #273D48;
  text-decoration: underline;
}

.mod1 {
  font-size: 11px;
}

.mod2 {
  font-size: 12px;
}

.mod3 {
  font-size: 14px;
}

.mod4 {
  font-size: 16px;
}

.mod5 {
  font-size: 18px;
}

.mod6 {
  font-size: 20px;
}

.mod7 {
  font-size: 22px;
}

.mod8 {
  font-size: 24px;
}

.mod9 {
  font-size: 26px;
}

.mod10 {
  font-size: 28px;
}

.category {
  margin-top: 30px;
}

.category a {
  display: block;
  height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2F404C;
  text-decoration: none;
  font-size: 19px;
  margin-bottom: 10px;
}

.category a:hover {
  color: #2D95A4;
}

.category a:hover span {
  opacity: 0.4;
}

.category a span {
  color: #2D95A4;
  font-size: 15px;
  float: right;
}

.blog_h1 {
  color: #3d505a;
  font-size: 24px !important;
  text-transform: none !important;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  border: none !important;
  padding-bottom: 6px;
  margin-bottom: 10px;
}

.blog_menu .lm_active, .blog_menu .lm_active:hover {
  color: #01a5a4;
}

.blog_entry {
  clear: both;
  display: inline-block;
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #b4b9b9;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.blog_entry span {
  line-height: 1.7;
}

.t_informer span {
  line-height: 1.7;
}

.ln_span {
  line-height: 1.7;
}

.blog_entry .morelink {
  display: inline-block;
  margin-left: 10px;
}

.t_informer {
  width: 100%;
  margin-top: -10px;
  padding-bottom: 10px;
}

.t_informer .pub_date, .t_informer .pub_author, .t_informer .pub_category {
  padding-right: 50px;
  float: left;
  font-size: 12px;
  color: #787878;
}

.pub_category {
  padding-right: 0 !important;
}

.t_informer .pub_author {
  text-align: center;
}

.t_informer span {
  background-position: left 5px;
  background-repeat: no-repeat;
  display: inline-block;
  color: #333333;
  font-weight: bold;
  padding-left: 18px;
}

.t_informer .pub_date span {
  background-image: url('micon_clock.png');
}

.t_informer .pub_author span {
  background-image: url('micon_author.png');
}

.t_informer .pub_category span {
  background-image: url('micon_category.png');
  padding-left: 12px;
}

a {
  color: #475963;
}

a:hover {
  text-decoration: none;
}

.morelink {
  font-size: 14px;
  color: #00999a;
  font-weight: normal;
  text-decoration: none;
}

.im_ac_avatar {
  float: left;
  margin-right: 10px;
}

.comments_hdr {
  display: block;
  color: #3d505a;
  font-size: 17px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  line-height: 28px;
  padding-top: 20px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #e5e5e5;
  padding-bottom: 12px !important;
}

.add_comments {
  display: block;
}

.add_comments div {
  padding: 5px !important;
}

.add_comments table {
  margin-top: 30px;
}

.add_comments td {
  vertical-align: top;
  padding-top: 10px;
  padding-bottom: 10px;
}

.add_comments input, .add_comments textarea {
  width: 190px;
  max-width: 445px;
  border-style: solid;
  border-width: 5px;
  border-color: #e5e5e5;
  padding: 5px;
  font-size: 14px;
  height: 29px;
}

.add_comments textarea {
  width: 390px;
  height: 110px;
}

.cm_ {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #989898;
}

.comments_block {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: #b4b9b9;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.comments_block .comm_hdr {
  font-weight: bold;
  margin-bottom: 10px;
}

.comments_block .comm_hdr span {
  font-weight: normal;
  font-size: 12px;
  margin-left: 15px;
}

.answer {
  padding-left: 40px;
}

.add_comments a {
  display: inline-block;
  color: white;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  height: 31px;
  text-decoration: none;
  background-color: #40555f;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 -2px 0 #263339;
  margin-bottom: 10px;
}

.blog_hdr {
  color: #3d505a;
  font-size: 22px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 6px;
  margin-bottom: 15px;
  line-height: 28px;
}

.month_list {
  background-color: white;
  position: absolute;
  border-color: silver;
  border-width: 1px;
  border-style: solid;
  z-index: 101;
  -webkit-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.29);
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.29);
  top: 50px;
  display: none;
}

.month_sel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: #293F4B;
  text-transform: uppercase;
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  float: left;
  text-decoration: none;
  display: block;
}

.year_sel {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  color: #293F4B;
  text-transform: uppercase;
  background-position: center left;
  background-repeat: no-repeat;
  padding-left: 14px;
  float: right;
}

.month_list a {
  display: block;
  padding: 15px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-right: 16px;
  height: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: #2F404C;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 0;
}

.month_list a:hover {
  background-color: #2F404C;
  color: white;
}

.text-center {
  text-align: center;
}

.mainframe h1, .mainframe h2 {
  color: #3d505a;
  font-size: 22px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-bottom: 6px;
  line-height: 28px;
}

.mainframe h2 {
  margin-bottom: 5px;
}

.mainframe h1 {
  font-size: 26px;
  margin-bottom: 15px;
}

.author {
  width: 200px;
  height: 300px;
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

.author:hover {
  opacity: 0.7;
}

.author .avatar {
  width: 170px;
  height: 220px;
  border-style: solid;
  border-width: 2px;
  border-color: #EAEEF0;
}

.author .avatar img {
  width: 170px;
  height: 220px;
}

.author .name {
  width: 100%;
  height: 37px;
  overflow: hidden;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  clear: both;
}

.inava {
  min-width: 170px;
  min-height: 220px;
  max-height: 340px;
  max-width: 440px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
  float: left;
  border-style: solid;
  border-width: 2px;
  border-color: #EAEEF0;
}

.ina_ {
  clear: both;
  padding-top: 10px;
  border-top-width: 3px;
  border-top-style: solid;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #EAEEF0;
}

.hdr_ {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-color: #EAEEF0;
}

.vk-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  line-height: 17px;
  color: black;
  text-decoration: none;
}

.vk-link {
  text-decoration: none ! important;
  cursor: default ! important;
}

.vk-header {
  background: none repeat scroll 0 0 rgb(218, 226, 232);
  padding: 4px 4px 4px 6px;
  margin-bottom: 10px;
}

.vk-logo {
  background: url('vk-logo.gif') no-repeat scroll 0 0 transparent;
  width: 16px;
  height: 16px;
  float: right;
  margin-top: -1px;
}

.vk-header-text {
  padding: 2px 3px 1px;
  line-height: 100%;
  color: rgb(69, 104, 142);
  font-weight: bold;
}

.vk-avatar img {
  float: left;
  margin-right: 10px;
}

.vk-comment, .vk-comment-load {
  margin-bottom: 15px;
  position: relative;
  border-bottom: 1px solid rgb(218, 225, 232);
  padding-bottom: 15px;
}

.vk-comment:last-child {
  border-bottom: 0 none;
}

.vk-comment-name {
  color: rgb(43, 88, 122);
  font-weight: bold;
  font-size: 12px;
}

.vk-comment-text {
  margin-left: 60px;
}

.vk-comment-date {
  margin-left: 60px;
  color: rgb(153, 153, 153);
}

.vk-comment-like {
  position: absolute;
  right: -5px;
  bottom: 10px;
  background: url('like.png') no-repeat scroll left center transparent;
  width: 30px;
  height: 16px;
  display: inline-block;
}

.vk-comment-like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.vk-comment-like-count {
  padding-left: 14px;
  font-weight: bold;
  color: rgb(114, 149, 178);
  font-size: 10px;
}

@media (max-width: 990px) {
  * {
    box-sizing: border-box;
  }

  .mainframe {
    width: auto;
  }

  .rs {
    display: none;
  }

  .ls {
    width: auto;
  }

  .burg {
    display: block;
  }

  .burg img {
    width: 35px;
    display: block;
    margin: 0 auto;
  }

  .mobile {
    display: none;
  }

  .ncpy .ibox {
    width: auto;
    padding-left: 10px;
  }

  .topbtn {
    display: none;
  }

  .logo {
    position: static;
    margin-left: 0;
  }

  .mainmenu {
    display: none;
  }

  .p_search {
    position: static;
    margin-top: 3px;
    margin-left: 0;
  }

  .tm_tw, .tm_yt, .tm_gp, .tm_vk, .tm_facebook {
    display: none;
  }

  #search-panel input {
    display: none;
  }

  .btn_cont {
    width: 270px;
    font-size: 22px;
  }
}

@media (max-width: 670px) {
  p {
    text-align: justify;
  }

  /* #facebook .commentsList .commentItem:nth-child(n + 8) {     display: none; }*/
  .ln_span img, .im_ac_avatar, #soc-icons {
    width: 100%;
    max-width: 300px;
    float: none !important;
    display: block;
    margin: 15px auto !important;
  }

  .ncpy {
    height: auto;
    padding-bottom: 20px;
  }

  .ls {
    margin-right: 0;
  }
}